# Systemd service for p2pool
[Unit]
Description=P2Pool daemon
After=network-online.target monerod.service
RequiresMountsFor=/var/lib/p2pool

[Service]
EnvironmentFile=/etc/monero/p2pool.conf
ExecStart=/usr/bin/p2pool --wallet ${wallet} --rpc-port ${rpc-port} --stratum ${stratum} --data-dir ${data-dir} --${pool}
Type=exec
Restart=on-failure
RestartSec=30
User=monero
Group=monero

ProtectProc=invisible
NoNewPrivileges=True
KeyringMode=private
ProtectSystem=full
ProtectHome=True
PrivateTmp=True
PrivateDevices=True
PrivatePIDs=True
ProtectHostname=True
ProtectClock=True
ProtectKernelTunables=True
ProtectKernelModules=True
ProtectKernelLogs=True
ProtectControlGroups=True

[Install]
WantedBy=multi-user.target

